<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="quartzJob" class="com.wpw.dream.core.quartz.QuartzJob" />
	
	<!-- 定时任务执行方法 -->
	<bean id="quartzJobBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	     <property name="targetObject" ref="quartzJob" />
	     <property name="targetMethod" value="executeTask" />
	     <!-- 取消多线程 -->
	     <property name="concurrent" value="false" />
 	</bean>
 	
 	<!-- 配置定时任务触发器 -->
	<bean id="quartzJobTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="quartzJobBean" />
		<property name="repeatInterval" value="1000"/>
        <property name="startDelay" value="60"/>
	</bean>

	<!-- Spring触发工厂 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="quartzJobTrigger" />
			</list>
		</property>
	</bean>

</beans>
